.so-widget-ink-divider-divider-2d3c4ef02485 .iw-so-divider {
  border-top-style: solid;
  border-top-width: 2px;
  border-top-color: #efefef;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.so-widget-ink-divider-divider-2d3c4ef02485 .iw-so-divider-top {
  height: 0px;
}
.so-widget-ink-divider-divider-2d3c4ef02485 .iw-so-divider-bottom {
  height: 20px;
}