.so-widget-ink-buttons-buttons-88d044c1ad3a .iw-so-button-base {
  text-align: left;
}
.so-widget-ink-buttons-buttons-88d044c1ad3a .iw-so-button-base .iw-so-button {
  border-radius: 0em;
  color: #ffffff;
  font-size: 0.9em;
  padding: 0.875em 1.75em;
  font-size: "";
  background: #dab873;
  border: 1px solid #dab873;
}
.so-widget-ink-buttons-buttons-88d044c1ad3a .iw-so-button-base .iw-so-button [class^="sow-icon-"] {
  font-size: 1.1em;
  height: 1em;
  width: auto;
  float: left;
  margin: -0.1em 0.75em -0.2em 0em;
  display: block;
}
.so-widget-ink-buttons-buttons-88d044c1ad3a .iw-so-button-base .iw-so-button:hover {
  color: #ffffff;
}
.so-widget-ink-buttons-buttons-88d044c1ad3a .iw-so-button-base .iw-so-button.iw-so-button-hover:hover {
  color: #ffffff;
  background: #d2a955;
  border-color: #d2a955;
}
.so-widget-ink-buttons-buttons-88d044c1ad3a .iw-so-button-base .iw-so-button.iw-so-button-click:active {
  background: #ca9936;
  border-color: #ca9936;
}