.so-widget-sow-social-media-buttons-flat-f6c4075444a1 .social-media-button-container {
  zoom: 1;
  text-align: left;
  /*
	&:after {
		content:"";
		display:inline-block;
		width:100%;
	}
	*/
}
.so-widget-sow-social-media-buttons-flat-f6c4075444a1 .social-media-button-container:before {
  content: '';
  display: block;
}
.so-widget-sow-social-media-buttons-flat-f6c4075444a1 .social-media-button-container:after {
  content: '';
  display: table;
  clear: both;
}
@media (max-width: 780px) {
  .so-widget-sow-social-media-buttons-flat-f6c4075444a1 .social-media-button-container {
    text-align: left;
  }
}
.so-widget-sow-social-media-buttons-flat-f6c4075444a1 .sow-social-media-button-facebook-0 {
  color: #ffffff !important;
  background-color: #5b86b3;
  border: 1px solid #5b86b3;
}
.so-widget-sow-social-media-buttons-flat-f6c4075444a1 .sow-social-media-button-facebook-0:visited,
.so-widget-sow-social-media-buttons-flat-f6c4075444a1 .sow-social-media-button-facebook-0:active,
.so-widget-sow-social-media-buttons-flat-f6c4075444a1 .sow-social-media-button-facebook-0:hover {
  color: #ffffff !important;
}
.so-widget-sow-social-media-buttons-flat-f6c4075444a1 .sow-social-media-button-facebook-0.ow-button-hover:hover {
  color: #ffffff;
}
.so-widget-sow-social-media-buttons-flat-f6c4075444a1 .sow-social-media-button-facebook-0.ow-button-hover:hover {
  background: #6990b9;
  border-bottom-color: #6990b9;
}
.so-widget-sow-social-media-buttons-flat-f6c4075444a1 .sow-social-media-button-twitter-0 {
  color: #ffffff !important;
  background-color: #5b86b3;
  border: 1px solid #5b86b3;
}
.so-widget-sow-social-media-buttons-flat-f6c4075444a1 .sow-social-media-button-twitter-0:visited,
.so-widget-sow-social-media-buttons-flat-f6c4075444a1 .sow-social-media-button-twitter-0:active,
.so-widget-sow-social-media-buttons-flat-f6c4075444a1 .sow-social-media-button-twitter-0:hover {
  color: #ffffff !important;
}
.so-widget-sow-social-media-buttons-flat-f6c4075444a1 .sow-social-media-button-twitter-0.ow-button-hover:hover {
  color: #ffffff;
}
.so-widget-sow-social-media-buttons-flat-f6c4075444a1 .sow-social-media-button-twitter-0.ow-button-hover:hover {
  background: #6990b9;
  border-bottom-color: #6990b9;
}
.so-widget-sow-social-media-buttons-flat-f6c4075444a1 .sow-social-media-button-linkedin-0 {
  color: #ffffff !important;
  background-color: #5b86b3;
  border: 1px solid #5b86b3;
}
.so-widget-sow-social-media-buttons-flat-f6c4075444a1 .sow-social-media-button-linkedin-0:visited,
.so-widget-sow-social-media-buttons-flat-f6c4075444a1 .sow-social-media-button-linkedin-0:active,
.so-widget-sow-social-media-buttons-flat-f6c4075444a1 .sow-social-media-button-linkedin-0:hover {
  color: #ffffff !important;
}
.so-widget-sow-social-media-buttons-flat-f6c4075444a1 .sow-social-media-button-linkedin-0.ow-button-hover:hover {
  color: #ffffff;
}
.so-widget-sow-social-media-buttons-flat-f6c4075444a1 .sow-social-media-button-linkedin-0.ow-button-hover:hover {
  background: #6990b9;
  border-bottom-color: #6990b9;
}
.so-widget-sow-social-media-buttons-flat-f6c4075444a1 .sow-social-media-button-google-plus-0 {
  color: #ffffff !important;
  background-color: #5b86b3;
  border: 1px solid #5b86b3;
}
.so-widget-sow-social-media-buttons-flat-f6c4075444a1 .sow-social-media-button-google-plus-0:visited,
.so-widget-sow-social-media-buttons-flat-f6c4075444a1 .sow-social-media-button-google-plus-0:active,
.so-widget-sow-social-media-buttons-flat-f6c4075444a1 .sow-social-media-button-google-plus-0:hover {
  color: #ffffff !important;
}
.so-widget-sow-social-media-buttons-flat-f6c4075444a1 .sow-social-media-button-google-plus-0.ow-button-hover:hover {
  color: #ffffff;
}
.so-widget-sow-social-media-buttons-flat-f6c4075444a1 .sow-social-media-button-google-plus-0.ow-button-hover:hover {
  background: #6990b9;
  border-bottom-color: #6990b9;
}
.so-widget-sow-social-media-buttons-flat-f6c4075444a1 .sow-social-media-button {
  display: inline-block;
  font-size: 1em;
  line-height: 1em;
  margin: 0.1em 0.1em 0.1em 0;
  padding: 0.5em 0;
  width: 2em;
  text-align: center;
  vertical-align: middle;
  -webkit-border-radius: 0em;
  -moz-border-radius: 0em;
  border-radius: 0em;
}
.so-widget-sow-social-media-buttons-flat-f6c4075444a1 .sow-social-media-button .sow-icon-fontawesome {
  display: inline-block;
  height: 1em;
}